/* ResumeModal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #1e1e1e;
  color: #fff;
  padding: 40px;
  width: 500px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modalTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.iconContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.uploadIcon {
  font-size: 4rem;
  color: #007bff;
}

.fileUploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.fileInput {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #555;
  color: #fff;
  background-color: #333;
}

.fileName {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #ccc;
}

.modalDescription {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.modalButton {
  flex-grow: 1;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modalButton:hover {
  background-color: #0056b3;
}

.submitButton {
  flex-grow: 1;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #218838;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}